main{
    background-color:blanchedalmond;
    border: 5px solid black;
}
#home{
    color:blue;
    text-align:center;
}
#welcome{
    color:green;
    text-align:center;
}
#experiences{
    color:orange;
    text-align:center;
}
#founder{
    color:purple;
    text-align:left;
}
#card{
    background-color:lightblue;
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    height: 200px;
    width: 400px;
}
#about-main{
    color:darkblue;
    text-align:center;
    background-color: transparent;
    border: none;
}
.services{
    text-align:center;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0;

}
#frontend{
    text-align:center;
    background-color: mediumaquamarine;
    flex: 1;
}
#frontend ul{
    list-style-type: none;
}
#backend{
    text-align:center;
    background-color: mediumaquamarine;
    flex: 1;
}
#backend ul{
    list-style-type: none;
}
#design{
    text-align:center;
    background-color: mediumaquamarine;
    flex: 1;
}
#design ul{
    list-style-type: none;
}
#maintenance{
    text-align:center;
    background-color: mediumaquamarine;
    flex: 1;
}
#maintenance ul{
    list-style-type: none;
}
h3{
    text-align:center;

}
.registration-form{
    padding: 20px;
    text-align:center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    margin: 0px auto;
    max-width: 400px;
}
.login-form{
    padding: 20px;
    text-align:center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    margin: 0px auto;
    max-width: 400px;
}
.projects{
    flex-direction:row;
    display:flex;
    gap: 20px;
    margin:20px auto;
}
.Chathurthy{
    background-color: lightblue;
    border: 1px solid black;
    padding: 20px;
    text-align:center;
}
.Portfolio{
    background-color: lightblue;
    border: 1px solid black;
    padding: 20px;
    text-align:center;
}
.Templates{
    background-color: lightblue;
    border: 1px solid black;
    padding: 20px;
    text-align:center;
}
#header {
    border: 2px solid transparent;
    text-align: center;
}
#body ul{
    list-style-type: none;
    text-align: center;
}
#footer{
    border: 2px solid transparent;
    text-align: center;
}
