main{
    background-color:blanchedalmond;
    border: 5px solid black;
}
#home{
    color:blue;
    text-align:center;
}
#welcome{
    color:green;
    text-align:center;
}
#experiences{
    color:orange;
    text-align:center;
}
#founder{
    color:purple;
    text-align:right;
}
#card{
    background-color:lightblue;
    border: 5px solid black;
    padding: 20px;
    margin: 20px;
    height: 200px;
    width: 400px;
}
#about-main{
    color:darkblue;
    text-align:center;
    background-color: transparent;
    border: none;
}
